<h1>アプリ紹介ページ</h1>

<article>
    <div class="contents">
        <ul class="row">
            <li class="col-sm-12 col-md-6">日本酒に関するブログを投稿するアプリケーションです。</li>
            <li class="col-sm-12 col-md-6"><img src="assets/sake01.jpg"></li>
        </ul>
    </div>
</article>