<h1>アプリ紹介ページ</h1>

<article>
    <div class="contents">
        <ul class="row">
            <li class="col-sm-12 col-md-6">考えをつぶやけるアプリです。</li>
            <li class="col-sm-12 col-md-6"><img src="/assets/clone01.JPG"></li>
        </ul>
    </div>
</article>